
    .bgImage {
        background-image: url('C:\Users\AnaSofia\Desktop\Henry\PROYECTO INDIVIDUAL\PI-Pokemon-FT22b\client\src\img\pikachu-run.gif');
        background-repeat: no-repeat;
        background-position: center;
    }

    